# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
react-dashboard/node_modules/

# OS-specific
*.exe
*.dll

# Git
.git
.gitignore

# Docker
Dockerfile.backend
Dockerfile.frontend

# Other
*.log
tmp/
